[Desktop Entry]
Version=1.3.9
Type=Application
Name=PyNotes
Comment=Advanced Text Editor
Exec=PyNotes
Categories=Development
Icon=/usr/share/PyNotes/Icon.png
Terminal=false
StartupNotify=false
